<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">Persistence.Dialect.SQLiteDialect</property>

        <property name="connection.driver_class">org.sqlite.JDBC</property>

        <property name="connection.url">jdbc:sqlite:D:/School/AN4/SD_lab/DS_30244_Zilai_Denis/DS_2022_30244_Zilai_Denis_Assignment_1_final/entities.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <mapping resource="Entities.hbm.xml"/>
    </session-factory>
</hibernate-configuration>